<div>
  <div class="choice">
    <div class="active">Travel</div>
    <div>Stay</div>
  </div>
  <div class="search">
    <div class="option0">
      <div>Where</div>
      <div><input type="text" placeholder="Do you want to travel?" /></div>
    </div>
    <div class="border option1">
      <div>When</div>
      <div><input type="text" placeholder="Do you want to go?" /></div>
    </div>
    <div class="border option2">
      <div>Who</div>
      <div class="thirdField">
        <input type="text" placeholder="Are you going with?" />
        <!-- <button>Show all trips</button> -->
      </div>
    </div>
    <button #z>Show all trips</button>
  </div>
</div>
