<div class="slide">
  <div class="cards cardsTitle">
    <div>Trends<span> .</span></div>
  </div>
  <div class="cards cardsTitle">
    <div class="packagesTitle">Check out some of the most popular packages</div>
    <div class="link">View all ></div>
  </div>

  <div class="cards">
    <div>
      <div>
        <!-- <img src="/assets/nature.jpg" /> -->
        <mdb-carousel
          #z
          showNavigationArrows="'false'"
          class="carousel slide carousel-fade"
          [animation]="'fade'"
        >
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                alt="First slide"
              />
              <div
                class="mask rgba-black-light waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                alt="Second slide"
              />
              <div
                class="mask rgba-black-strong waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                alt="Third slide"
              />
              <div
                class="mask rgba-black-slight waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="card-body">
        <div>
          <div class="card-title">
            <b>Including in a weekend getaway at Park Hyatt</b>
          </div>
          <div class="greyColor offer">3 nights<span> . </span>Adults</div>
          <div class="greyColor">
            Beirut<span>.</span>Amman<span> . </span>Cairo + 3 more
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faBell" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">
              Park Hyatt Beirut . 5 Stars + Other
            </div>
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faBed" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">Suite . Breakfast</div>
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faCar" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">Premium Car</div>
          </div>
          <div class="flex">
            <div>
              <fa-icon [icon]="faPuzzlePiece" class="greyColor"></fa-icon>
            </div>
            <div class="detail greyColor">Spa</div>
          </div>
        </div>
        <br />
        <br />
        <div class="profile">
          <div class="profile-pic">
            <img class="profile-img" src="/assets/nature.jpg" />
            <div>
              <div>Cathy</div>
              <div class="family-name">Al Tayer</div>
            </div>
          </div>
          <div class="borderLeft">
            <div>From</div>
            <div>AED 685</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <!-- <img src="/assets/nature.jpg" /> -->
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                alt="First slide"
              />
              <div
                class="mask rgba-black-light waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                alt="Second slide"
              />
              <div
                class="mask rgba-black-strong waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                alt="Third slide"
              />
              <div
                class="mask rgba-black-slight waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="card-body">
        <div>
          <div class="card-title">
            <b>A weekday getaway at Fujairah Rotana Resort & Spa</b>
          </div>
          <div class="greyColor offer">3 nights<span> . </span>Adults</div>
          <div class="greyColor">
            Beirut<span>.</span>Amman<span> . </span>Cairo + 3 more
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faBell" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">
              Park Hyatt Beirut . 5 Stars + Other
            </div>
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faBed" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">Suite . Breakfast</div>
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faCar" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">Premium Car</div>
          </div>
          <div class="flex">
            <div>
              <fa-icon [icon]="faPuzzlePiece" class="greyColor"></fa-icon>
            </div>
            <div class="detail greyColor">Spa</div>
          </div>
          <br />
          <br />
          <div class="profile">
            <div class="profile-pic">
              <img class="profile-img" src="/assets/nature.jpg" />
              <div>
                <div>Cathy</div>
                <div class="family-name">Al Tayer</div>
              </div>
            </div>
            <div class="borderLeft">
              <div>From</div>
              <div>AED 685</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <!-- <img src="/assets/nature.jpg" /> -->
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                alt="First slide"
              />
              <div
                class="mask rgba-black-light waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                alt="Second slide"
              />
              <div
                class="mask rgba-black-strong waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                alt="Third slide"
              />
              <div
                class="mask rgba-black-slight waves-light"
                mdbWavesEffect
              ></div>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="card-body">
        <div>
          <div class="card-title">
            <b>An unforgettable stay at Ajman Hotel</b>
          </div>
          <div class="greyColor offer">3 nights<span> . </span>Adults</div>
          <div class="greyColor">
            Beirut<span>.</span>Amman<span> . </span>Cairo + 3 more
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faBell" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">
              Park Hyatt Beirut . 5 Stars + Other
            </div>
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faBed" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">Suite . Breakfast</div>
          </div>
          <div class="flex">
            <div><fa-icon [icon]="faCar" class="greyColor"></fa-icon></div>
            <div class="detail greyColor">Premium Car</div>
          </div>
          <div class="flex">
            <div>
              <fa-icon [icon]="faPuzzlePiece" class="greyColor"></fa-icon>
            </div>
            <div class="detail greyColor">Spa</div>
          </div>
          <br />
          <br />
          <div class="profile">
            <div class="profile-pic">
              <img class="profile-img" src="/assets/nature.jpg" />
              <div>
                <div>Cathy</div>
                <div class="family-name">Al Tayer</div>
              </div>
            </div>
            <div class="borderLeft">
              <div>From</div>
              <div>AED 685</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
